<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Public view</mat-card-title>
    </mat-card-header>
<form>
  <div>
    <mat-form-field>
      <mat-label>plate number</mat-label>
      <input matInput type="text" [(ngModel)]="value" name="number">
      <button mat-raised-button matSuffix color="primary" (click)="search(value)">Search</button>
    </mat-form-field>
  </div>
</form>

<div *ngIf="isRecords">
    <app-customer-table [data]="searchResults"></app-customer-table>
</div>
</mat-card>
